.floating-panel-search {
  padding: 0 12px 12px;
  background-color: var(--uabm-color-background);
}
.floating-panel-search :global .uabm-space-item:first-child {
  flex: 1;
}
.floating-panel-search :global .uabm-search-bar-cancel-button.uabm-button {
  padding: 3px 2px;
  color: var(--uabm-color-primary);
  font-size: 16px;
}
.floating-panel-avatar {
  --size: 32px;
  --border-radius: 50%;
}
.floating-panel-item {
  text-align: center;
  font-size: 14px;
}
.floating-panel-map {
  border: 0;
  width: calc(100vw + 800px);
  height: calc(100vh + 800px);
  position: fixed;
  z-index: 0;
  left: -400px;
  top: -400px;
}
